# see http://docs.ansible.com/ansible/intro_configuration.html
# export ANSIBLE_CONFIG=/Users/alex/works/sysadm/ansible-study/esxi-mgmt/ansible.esxi.cfg
# ansible-playbook all.yaml -l nest1-m6 --check
# ansible-playbook all.yaml -l nest1-m6 --diff
# (or for new host): ansible-playbook all.yaml -l nest1-m8 --ask-pass --diff

[ssh_connection]
pipelining = true
# alt: use vars: ansible_ssh_extra_args: '-A'
ssh_args=-o ForwardAgent=yes

[defaults]
#vault_password_file=/Users/alex/.vaultpass.test
#ask_vault_pass = true
vault_password_file = /Users/alex/ansible-esxi/get_vault_pass.esxi.sh
retry_files_enabled = false
remote_user = alex
log_path  = /Users/alex/ansible-esxi/ansible.log
inventory = /Users/alex/ansible-esxi/inventory.esxi
library   = /Users/alex/ansible-esxi/library
ansible_managed = ansible managed: last modified by {uid}@{host}
# store large files there: vars are ok!
remote_tmp = $(df | awk 'NR==2 {print $6}')/tmp
